{% extends 'AppBundle::base.html.twig' %}

{% block content %}
    <div class="page-header">
        <h1>{{ app.request.attributes.get('_route') == 'new_task' ? 
                'Новое задание' : 
                'Редактирование задания' }}</h1>
    </div>

    {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
{% endblock %}
